## List comprehension and more

In [5]:
# The unpythonic way
my_list = [8, 9, 1, 2, 4]
my_new_list = []
for number in my_list:
    my_new_list.append(number * 8)
print(my_new_list)

[64, 72, 8, 16, 32]

In [6]:
# The pythonic way => list comprehension
my_list = [8, 9, 1, 2, 4]
my_new_list = [number * 8 for number in my_list]
print(my_new_list)

[64, 72, 8, 16, 32]

In [8]:
# List comprehension with more than one list
my_sums = [number_1 + number_2 for number_1, number_2 in zip(my_list, my_new_list)]
print(my_sums)

[72, 81, 9, 18, 36]

In [9]:
# Question: What happend if the lists do not have same length
# Answer: The iteration stops after the end of the shorter one
my_list.append(5)
print(len(my_list))
print(len(my_new_list))
my_sums = [number_1 + number_2 for number_1, number_2 in zip(my_list, my_new_list)]
print(my_sums)

6
5
[72, 81, 9, 18, 36]

In [59]:
# tuples vs. lists => tuples are immuatable
a_list = [1, 2, 3, 5]
a_tuple = (1, 2, 3, 5)
a_list[0] = 1000
a_tuple[0] = 1000  # <= will cause an error

TypeError: 'tuple' object does not support item assignment

In [60]:
# Using list comprehension to generate a dictionary out of two lists
names = ["A", "B", "C"]
countings = [59, 23, 12]
names_to_countings = dict([(name, counting) for name, counting in zip(names, countings)])
print(names_to_countings)

{'A': 59, 'B': 23, 'C': 12}

## Anonymous functions with lambda

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [8, 1, 3]}, index=list('abc'))

In [18]:
df

   A  B  C
a  1  4  8
b  2  5  1
c  3  6  3

In [27]:
# Using the apply function on a series with a named function
def my_cool_function(number, multiplier):
    return number * multiplier

df["D"] = df["C"].apply(my_cool_function, args=(10000,))
df

   A  B  C      D
a  1  4  8  80000
b  2  5  1  10000
c  3  6  3  30000

In [61]:
# Using the apply function on a series with an anonymous function
df["D"] = df["C"].apply(lambda number: number * 5000)
df

   A  B  C      D
a  1  4  8  40000
b  2  5  1   5000
c  3  6  3  15000

In [62]:
# Using the apply function on a dataframe with an anonymous function
df["D"] = df.apply(lambda row: row["A"] * row["C"], axis=1)
df

   A  B  C  D
a  1  4  8  8
b  2  5  1  2
c  3  6  3  9

In [57]:
# Using the apply function on a series with an anonymous function after slicing
df["D"] = df[["B", "C"]].apply(sum, axis=1)
df

   A  B  C   D
a  1  4  8  12
b  2  5  1   6
c  3  6  3   9

In [58]:
df[["B", "C"]]

   B  C
a  4  8
b  5  1
c  6  3

In [63]:
# Theoretical but esoteric application of lambda
multiply_by_1000 = lambda number: number * 1000
multiply_by_1000(100)

100000

In [39]:
def multiply_by_5000(number): return number * 1000

multiply_by_5000(2)

2000

## Using Python's filter function

In [49]:
my_list = ["AAA", "TTT", "ATC", "GGG"]
my_new_list = []
for codon in my_list:
    if codon.startswith("A"):
        my_new_list.append(codon)
print(my_new_list)

['AAA', 'ATC']

In [52]:
# Same as above but using filter
my_list = ["AAA", "TTT", "ATC", "GGG"]
my_new_list = filter(lambda codon: codon.startswith("A"), my_list)
my_new_list # returns an interator, not a list!

In [53]:
for codon_with_a in my_new_list:
    print(codon_with_a)

AAA
ATC

In [65]:
# The iterator is now used! And cannot be used again
for codon_with_a in my_new_list:
    print(codon_with_a)